* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Styles généraux de l'application */
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#tablet {
    position: relative;
    background: url('../img/frame.png') no-repeat;
    background-size: contain;
    width: 1400px;
    height: 1000px;
}

.opencad {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: none;
}

.tablet-container {
    position: absolute;
    left: 80px;
    top: 67px;
    width: auto;
    background-size: contain;
    overflow: hidden;
    height: 79%;
    width: 90%;
    background: #222222;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.tablet-footer {
    position: absolute;
    left: 46.7%;
    top: 90.5%;
}

.tablet-footer > .line {
    width: 3vw;
    height: 8px;
    background-color: rgb(129, 129, 129);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

.tablet-footer > .line:hover {
    background-color: #f2a922;
}

.page {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .4s;
    padding: 1rem;
    overflow: auto;
    scrollbar-width: none;
}

.page::-webkit-scrollbar {
    display: none;
}  

#main {
    display: grid;
    grid-template-columns: .3fr 1fr; 
    background: url('../img/background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.page {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0;
}

.page > .content {
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
}

.subtitle {
    font-size: 20px;
}

a {
    color: rgb(37, 37, 37);
    text-decoration: none;
    cursor: pointer;
}

.page > .content > h1 {
    text-align: center;
}

.page > .content > p {
    font-weight: 400;
}

.page > .content > .img-container {
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-block: 5px;
    box-shadow: 0 0 4px rgb(5, 5, 5, 0.5);
}

.page > .content > .img-container > img {
    width: 100%;
    transform: scale(1.5);
}

.page > .content > .img-container > video {
    width: 100%;
}

.misc {
    display: grid;
    grid-template-rows: .5fr 1fr;
    transition: all 0.3s;
}

.widget {
    justify-self: center;
    align-self: center;
    background-color: #121212;
    box-shadow: 0 0 4px #121212;
    border-radius: 15px;
    width: 150px;
    height: 140px;
    padding: .8rem;
}

.widget > p {
    color: rgb(253, 70, 70);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0px;
}

.widget > h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin-left: 1px;
    margin-top: -9px;
}

.widget > h2 {
    color: rgb(125, 128, 146);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding-top: .5rem;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 0.8rem;
}

.application {
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin-top: 50px;
}

.application > .content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    border-radius: 20%;
    background: #121212;
    box-shadow: 0 0 3px rgb(80, 80, 80);
    align-items: center;
}

.application > .content > img {
    width: auto;
    height: 60%;
    fill: white;
    margin: auto;
}

.application > h1 {
    margin-top: 5px;
    display: flex;
    font-size: 20px; /* Ajustez la taille de police selon vos préférences */
    color: white;
    text-align: center;
    justify-content: center;
}


/* Styles spécifiques à la météo */
.weather-widget {
    /* background: url('https://stormandsky.com/gif/8.gif') center/cover; */ /* Fond de pluie (GIF) */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    /* border: 2px solid #c09923; */ /* Couleur de la bordure (jaune) */
    border-radius: 0 15px 0 0;
    overflow: hidden;
    position: relative;
}

.weather-widgetb {
    display: none;
}

.weather-widget h1, .weather-widget h2, .weather-widget p {
    color: white; /* Couleur du texte */
    margin: 0;
}

.weather-info {
    margin-top: 20px; /* Ajustement de la marge */
}

.weather-icon {
    font-size: 48px; /* Taille de l'icône */
    color: #ffcc33; /* Couleur de l'icône (jaune) */
    margin-bottom: 10px; /* Ajustement de la marge en dessous de l'icône */
}

.thermometer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffcc33;
    font-size: 24px;
}

.weather-widget-border {
    margin-top: 383px; /* Ajustement de la marge */
}

.weather-widget p {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
}

